.wrapper {
    --font-color: gray;
    --font-size: 14px;
}

.post {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: auto auto;
    gap: 0px 10px;
}

.avatar {
    color: lightblue;
    grid-column: 1/2;
    grid-row: 1/-1;
    width: 40px;
    height: 40px;
    color: paleturquoise
}

.name, .userId {
    font-size: var(--font-size)
}

.userId {
    color: var(--font-color)
}

.form {
}

.engagementWrapper {
    display: flex;
    align-content: center;
    margin: 14px 0px;
    padding: 14px 0;
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
    font-size: var(--font-size);
    color: var(--font-color);
    vertical-align: baseline;
}

.engagementText {
    font-size: 14px;
}

.icon {
    height: calc(var(--font-size) + 4px);
    padding-bottom: 1.5px;
}